.logoPosition{
    display: flex
}
@media only screen and (max-width: 600px) {
    .logoPosition{
        justify-content: center;
        padding: 15px;
    }
    .contactoStyles{
        display: none;
    }
}
