.asdf{
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 112, 255);
    .ag{
        display: flex;
        justify-content: space-around;
        background-color: rgb(226, 112, 255);
    }
}
